@font-face {
    font-family: 'Panton'; /* Gewünschter Name */
    src: url('fonts/PantonDemo-Black.otf');
}

@font-face {
    font-family: 'Nunito'; /* Gewünschter Name */
    src: url('fonts/Nunito-VariableFont_wght.ttf'); 
}

body {
    background-color: #333;
    height: 100%;
    /* text-align: center; */
}

header {
    background-image: url(pics/header-Startseite.png);
    background-size: 100%;
    padding: 5%;

}


.title {
    font-family: 'Panton';
    color: #7fa3d5;
    font-size: 500%;
    position: relative;
    text-align: left;
    padding-left: 30%;
}

h2{
    font-family: 'Nunito';
    color: white;
    padding-left: 30%;
    font-style: italic;
    font-weight: lighter;

}